@charset "UTF-8";
/*PARAMETRES GENERAUX
======================*/
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", serif;
  background-color: #f5f5dc;
}

/*=====================*/
header .fa-cart-plus {
  font-size: 24px;
}

.fas {
  font-size: 30px;
}

.cart {
  font-family: "Itim", cursive;
}

main {
  font-family: "Merienda", cursive;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  position: fixed;
  /*avec la position: fixed, le footer sera visible même au scrolling*/
  bottom: 0;
  background-color: #f3e9f1;
  border-top: 2px solid black;
  font-family: "Finger Paint", cursive;
}

.foot__gauche:hover {
  /*ci-dessous la mixin du tremblement des éléments du footer*/
}

.foot__droite:hover {
  /*ci-dessous la mixin du tremblement des éléments du footer*/
}

.foot__gauche, .foot__droite {
  margin: 0.3em 1.5em;
  text-decoration: none;
  color: #4b4141;
}

@media screen and (max-width: 450px) {
  footer {
    flex-direction: column;
  }
}
header {
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 10px;
  color: #261624;
  border-bottom: 2px solid black;
  background-color: #f3e9f1;
  z-index: 1;
}

header .logo {
  display: flex;
  justify-content: start;
}

header img {
  width: 100px;
}

header a {
  align-self: center;
  text-decoration: none;
  color: #4b4141;
  font-family: "Finger Paint", cursive;
}

header h1 {
  font-weight: 900;
  margin: 0;
  color: #4b4141;
}

.banniere img {
  width: 100%;
  height: 40em;
  border-bottom: 2px solid black;
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .banniere img {
    height: 25em;
  }
}
@media screen and (min-width: 1025px) and (max-width: 2560px) {
  .banniere img {
    height: 50em;
  }
}

.choix_titre {
  margin-top: 150px;
  padding: 20px;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, #c28a46, #e6b376, #cc8a78, #ce6ba8, #c367ad, #8b54c7);
  font-family: "Merienda", sans-serif;
}

.produit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px #000000 solid;
  box-shadow: 4px 0px 8px 5px #b6b2b280;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 20px 20px;
  margin-bottom: 60px;
  padding: 30px;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .produit {
    width: 300px;
    height: 520px;
  }
}
@media screen and (min-width: 426px) and (max-width: 1024px) {
  .produit {
    width: 420px;
    height: 600px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 2560px) {
  .produit {
    width: 560px;
    height: 700px;
  }
}

.produit img {
  height: auto;
  width: 400px;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .produit img {
    width: 270px;
  }
}

.produit_description {
  margin-top: 50px;
  font-size: 1.2rem;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .produit_description {
    font-size: 1rem;
  }
}

.produit_description h3 {
  padding-bottom: 50px;
  background: linear-gradient(to right, #c28a46, #e6b376, #cc8a78, #ce6ba8, #c367ad, #8b54c7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
  transition: 0.2s;
}

.produit_description h3:hover {
  transform: scale(1.2);
}

.produit_description p {
  padding-bottom: 50px;
}

.produit_description a {
  margin-top: 30px;
  padding: 12px 24px;
  color: #fff;
  text-decoration: none;
  background-color: #8b54c7;
}

.teddy_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#teddy_choice {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.choix {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px #000000 solid;
  box-shadow: 4px 0px 8px 5px #b6b2b280;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 20px 20px;
  margin-bottom: 60px;
  padding: 30px;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .choix {
    width: 300px;
    height: 520px;
  }
}
@media screen and (min-width: 426px) and (max-width: 1024px) {
  .choix {
    width: 420px;
    height: 600px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 2560px) {
  .choix {
    width: 560px;
    height: 700px;
  }
}

.choix img {
  height: auto;
  width: 400px;
  overflow: hidden;
}
@media screen and (min-width: 320px) and (max-width: 1025px) {
  .choix img {
    width: 270px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 2560px) {
  .choix img {
    transition: 0.3s;
  }
}

@media screen and (min-width: 1025px) and (max-width: 2560px) {
  .choix img:hover {
    transform: scale(1.2);
  }
}

.choix_description {
  margin-top: 50px;
  font-size: 1.2rem;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .choix_description {
    font-size: 1rem;
  }
}

.choix_description h3 {
  padding-bottom: 50px;
  background: linear-gradient(to right, #c28a46, #e6b376, #cc8a78, #ce6ba8, #c367ad, #8b54c7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
}

.choix_description p {
  padding-bottom: 20px;
}

.choix_couleur {
  margin-bottom: 50px;
}

.choix_couleur label {
  margin-right: 20px;
  font-size: large;
}

.choix_ajout_panier a {
  margin-top: 30px;
  padding: 12px 24px;
  color: #fff;
  text-decoration: none;
  background-color: #8b54c7;
}

#btn_cart {
  text-align: center;
}

#cart_mess {
  padding: 10px;
  font-weight: bolder;
}

#cart {
  width: 90%;
  text-align: center;
}

.select {
  display: flex;
  flex: 1 auto;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 20px 20px;
  margin-bottom: 60px;
  padding: 30px;
}
@media screen and (min-width: 320px) and (max-width: 1025px) {
  .select {
    display: block;
  }
}

.select img {
  height: auto;
  width: 280px;
}
@media screen and (min-width: 320px) and (max-width: 1025px) {
  .select img {
    width: 230px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 2560px) {
  .select img {
    transition: 0.3s;
  }
}

@media screen and (min-width: 1025px) and (max-width: 2560px) {
  .select img:hover {
    transform: scale(1.2);
  }
}

.select_description {
  margin-top: 50px;
  font-size: 1.2rem;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 1025px) {
  .select_description {
    padding-bottom: 15px;
    font-size: 1rem;
  }
}

.select_description h3 {
  padding-bottom: 50px;
  background: linear-gradient(to right, #c28a46, #e6b376, #cc8a78, #ce6ba8, #c367ad, #8b54c7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
}

.return_main {
  margin-top: 50px;
  margin-bottom: 50px;
}

.btnQty_container {
  display: flex;
  padding: 5px;
  border: 1px solid #000;
}
@media screen and (min-width: 320px) and (max-width: 1025px) {
  .btnQty_container {
    margin: 0 auto;
    width: 40%;
    justify-content: center;
  }
}

#teddy_qty {
  width: 40px;
}

#total_amount {
  width: 50%;
  height: 55px;
  padding-top: 10px;
  text-align: center;
  font-size: 1.3em;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 20px 20px;
  margin-bottom: 60px;
}
@media screen and (min-width: 450px) and (max-width: 1025px) {
  #total_amount {
    width: 90%;
    height: 50px;
    font-size: 1em;
  }
}
@media screen and (max-width: 449px) {
  #total_amount {
    width: 97%;
    height: 40px;
    font-size: 12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1025px) {
  #empty_cart {
    margin-top: 15px;
  }
}

#val_button {
  margin-bottom: 100px;
}

#display_form {
  visibility: hidden;
  width: 40%;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 20px;
  background-color: #f2e8f0;
  box-shadow: 4px 0px 8px 5px #b6b2b280;
  border: 2px solid #afaeae;
  border-radius: 20px 20px;
}
@media screen and (max-width: 450px) {
  #display_form {
    width: auto;
  }
}
@media screen and (min-width: 450px) and (max-width: 1025px) {
  #display_form {
    width: 70%;
  }
}

#form_order {
  display: flex;
  flex-direction: column;
  font-family: "Itim";
  font-size: 1.4em;
}

#form_order input {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  padding: 5px;
}

#header_form {
  visibility: hidden;
  width: 100%;
  margin-bottom: 100px;
}
@media screen and (min-width: 450px) and (max-width: 1025px) {
  #header_form {
    margin-top: -50px;
    font-size: 1.1em;
  }
}
@media screen and (max-width: 450px) {
  #header_form {
    margin-top: -30px;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 450px) {
  #header_form i {
    font-size: 0.9em;
  }
}

#fieldset_name, #fieldset_address {
  display: flex;
  flex-direction: column;
}

#fieldset_name legend, #fieldset_address legend {
  padding: 5px;
  background-color: #8b54c7;
  color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
}

#fieldset_address textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  height: 50px;
  overflow-y: scroll;
  resize: none;
}

#fieldset_valid {
  text-align: center;
}

.error {
  border: 4px solid red;
}

.valid {
  border: 4px solid green;
}

.input_oblig {
  font-size: 0.7em;
  font-weight: lighter;
}

#wrong_input_fname, #wrong_input_lname,
#wrong_input_address, #wrong_input_city,
#wrong_input_mail {
  display: flex;
  visibility: hidden;
  color: #ff0000;
  font-size: 0.9em;
}

#alert_firstname_text, #alert_lastname_text,
#alert_address_text, #alert_city_text, #alert_mail_text {
  width: 70%;
  color: #ff0000;
  font-size: 0.8em;
  margin-bottom: 10px;
  padding-left: 5px;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  #alert_firstname_text, #alert_lastname_text,
#alert_address_text, #alert_city_text, #alert_mail_text {
    font-size: 0.6em;
  }
}
@media screen and (min-width: 426px) and (max-width: 1024px) {
  #alert_firstname_text, #alert_lastname_text,
#alert_address_text, #alert_city_text, #alert_mail_text {
    font-size: 0.7em;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 100px;
}

/*# sourceMappingURL=style.css.map */
