@mixin auto_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
@mixin flexOurs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px #000000 solid;
    box-shadow: 4px 0px 8px 5px #b6b2b280;
    margin-left: 20px;
    margin-right: 20px;

    @media screen and (min-width: 320px) and (max-width: 425px) {
        width: 300px;
        height: 520px;
    }
    @media screen and (min-width: 426px) and (max-width: 1024px) {
        width: 420px;
        height: 600px;
    }
    @media screen and (min-width: 1025px) and (max-width: 2560px) {
        width: 560px;
        height: 700px;
    }
 }