$color_1: #ffc107;
$color_4: lighten(#3e8e52, 10%); 
$font_family_1: 'Montserrat', sans-serif;
$background_color_1: #289169;

$size: 42px;
$fw_low: 100;


$font_family_2: 'Devonshire', sans-serif;
$font_family_3: 'Kalam', sans-serif;
$color_2: darken(#f8e2df, 70%);
$background_color_2: #f8e2df;


$orinoco_background: linear-gradient(to right, #c28a46, #e6b376, #cc8a78, #ce6ba8,#c367ad, #8b54c7);