$orinoco_background: linear-gradient(to right, #c28a46, #e6b376, #cc8a78, #ce6ba8,#c367ad, #8b54c7);
$orinoco_color: #261624;
$orinoco_color_alt: #4b4141;

$orinoco_font_main: 'Finger Paint', cursive;