#val_button {
    margin-bottom: 100px;
}
#display_form {
    visibility: hidden;
    width: 40%;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 20px;
    background-color: #f2e8f0;
    box-shadow: 4px 0px 8px 5px #b6b2b280;
    border: 2px solid #afaeae;
    border-radius: 20px 20px;
    @media screen and (max-width: 450px) {
        width: auto;
    }
    @media screen and (min-width: 450px) and (max-width: 1025px) {
        width: 70%;
    }
}
#check_form {
    display: flex;
    flex-direction: column;
    font-family: "Itim";
    font-size: 1.4em;
}
#check_form input {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#header_form {
    visibility: hidden;
    width: 100%;
    margin-bottom: 100px;
    @media screen and (min-width: 450px) and (max-width: 1025px) {
        margin-top: -50px;
        font-size: 1.1em;
    }
    @media screen and (max-width: 450px) {
        margin-top: -30px;
        font-size: .8em;
    }
}
#header_form i {
    @media screen and (max-width: 450px) {
        font-size: .9em;
    }
}
#fieldset_name, #fieldset_adress {
    display: flex;
    flex-direction: column;
}
#fieldset_name legend, #fieldset_adress legend{
    padding: 5px;
    background-color: #8b54c7;
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
}
#fieldset_adress textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    overflow-y: scroll;
    resize: none;
}
#alert_name_text {
    width: auto;
    background-color: #ff0000;
    color: #ffffff;
    font-size: .8em;
    font-weight: lighter;
    margin-bottom: 10px;
} 
#fieldset_valid {
    text-align: center;
}