#val_button {
    margin-bottom: 100px;
    font-family: "Merienda", cursive;
    @include bouton_product;
}
#display_form {
    visibility: hidden;
    width: 40%;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 20px;
    background-color: #f2e8f0;
    box-shadow: 4px 0px 8px 5px #b6b2b280;
    border: 2px solid #afaeae;
    border-radius: 20px 20px;
    @media screen and (max-width: 450px) {
        width: auto;
    }
    @media screen and (min-width: 450px) and (max-width: 1025px) {
        width: 70%;
    }
}
#form_order {
    display: flex;
    flex-direction: column;
    font-family: "Itim";
    font-size: 1.4em;
}
#form_order input {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
input {
    padding: 5px;
}
#header_form {
    visibility: hidden;
    width: 100%;
    margin-bottom: 100px;
    @media screen and (min-width: 450px) and (max-width: 1025px) {
        margin-top: -50px;
        font-size: 1.1em;
    }
    @media screen and (max-width: 450px) {
        margin-top: -30px;
        font-size: .8em;
    }
}
#header_form i {
    @media screen and (max-width: 450px) {
        font-size: .9em;
    }
}
#fieldset_name, #fieldset_address {
    display: flex;
    flex-direction: column;
}
#fieldset_name legend, #fieldset_address legend{
    padding: 5px;
    background-color: #8b54c7;
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
}
#fieldset_address textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    height: 50px;
    overflow-y: scroll;
    resize: none;
}
#fieldset_valid {
    text-align: center;
}
.error {
    border: 4px solid red;
}
.valid {
    border: 4px solid green;
}
.input_oblig {
    font-size: .7em;
    font-weight: lighter;
}
#wrong_input_fname, #wrong_input_lname,
#wrong_input_address, #wrong_input_city,
#wrong_input_mail {
    @include logoFalse;
}
#alert_firstname_text, #alert_lastname_text,
#alert_address_text, #alert_city_text, #alert_mail_text{
    @include errMsg;
}