.banniere img{
    width: 100%;
    height: 40em;
    border-bottom: 2px solid black;
}
.choix_titre {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    color: #fff;
    background: $orinoco_background;
    font-family: "Merienda", sans-serif;
}
.ours {
    @include flexOurs;
    margin-right: 20px;
    margin-bottom: 60px;
    margin-left: 10px;
    overflow: hidden;
}
.ours img {
    height: auto;
}