.banniere img{
    width: 100%;
    height: 25em;
    border-bottom: 2px solid black;
}
.choix_titre {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    color: #fff;
    background: $orinoco_background;
    font-family: "Merienda", sans-serif;
}
.produit {
    @include flexOurs;
    margin-bottom: 60px;
    padding: 30px;
    overflow: hidden;
}
.produit img {
    height: auto;
}
.produit_description {
    font-size: 1.2rem;
}
.produit_description h3 {
    padding-bottom: 50px;
    background: $orinoco_background;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
}
.produit_description p {
    padding-bottom: 50px;
}