.banniere img{
    width: 100%;
    height: 40em;
    border-bottom: 2px solid black;
}
.choix_titre {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    color: #fff;
    background: $orinoco_background;
    font-family: "Merienda", sans-serif;
}
.produit {
    @include flexOurs;
    margin-right: 20px;
    margin-bottom: 60px;
    margin-left: 10px;
    padding: 50px;
    overflow: hidden;
}
.produit img {
    height: auto;
}
.produit_description {
    display: flex;
    align-items: center;
    width: 60%;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.4rem;
}
.produit_description h3 {
    padding-bottom: 50px;
    background: $orinoco_background;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
}
.produit_description p {
    padding-bottom: 50px;
}