#cart {
    width: 90%;
    text-align: center;
}
.select {
    display: flex;
    flex: 1 auto;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 20px 20px;
    margin-bottom: 60px;
    padding: 30px;
    @media screen and (min-width: 320px) and (max-width: 1025px) {
        display: block;
    }
}
.select img {
    height: auto;
    width: 280px;
    @media screen and (min-width: 320px) and (max-width: 1025px) {
        width: 230px;
    }
    @media screen and (min-width: 1025px) and (max-width: 2560px) {
        transition: .3s;
    }
}
.select img:hover { 
    @media screen and (min-width: 1025px) and (max-width: 2560px) {
        transform: scale(1.2);
    }
}
.select_description {
    margin-top: 50px;
    font-size: 1.2rem;
    text-align: center;
    @media screen and (min-width: 320px) and (max-width: 1025px) {
        padding-bottom: 15px;
        font-size: 1rem;
    }
}
.select_description h3 {
    padding-bottom: 50px;
    background: $orinoco_gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
}
.return_main {
    margin-top: 50px;
    margin-bottom: 50px;
}
.btnQty_container {
    display: flex;
    padding: 5px;
    border: 1px solid #000;
    @media screen and (min-width: 320px) and (max-width: 1025px) {
        margin: 0 auto;
        width: 40%;
        justify-content: center;
    }
}
#teddy_qty {
    width: 40px;
}
#total_amount {
    width: 50%;
    height: 55px;
    padding-top: 10px;
    text-align: center;
    font-size: 1.3em;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 20px 20px;
    margin-bottom: 60px;
    @media screen and (min-width: 450px) and (max-width: 1025px) {
        width: 90%;
        height: 50px;
        font-size: 1em;
    }
    @media screen and (max-width: 449px) {
        width: 97%;
        height: 40px;
        font-size: 12px;
    }
}
#empty_cart {
    @media screen and (min-width: 320px) and (max-width: 1025px) {
        margin-top: 15px;
    }
}