#teddy_choice {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.choix {
    @include flexOurs;
    background-color: #fff;
    border-radius: 20px 20px;
    margin-bottom: 60px;
    padding: 30px;
}
.choix img {
    height: auto;
    width: 400px;
    overflow: hidden;
    @media screen and (min-width: 320px) and (max-width: 1025px) {
        width: 270px;
    }
    @media screen and (min-width: 1025px) and (max-width: 2560px) {
        transition: .3s;
    }
}
.choix img:hover { 
    @media screen and (min-width: 1025px) and (max-width: 2560px) {
        transform: scale(1.2);
    }
}
.choix_description {
    margin-top: 50px;
    font-size: 1.2rem;
    text-align: center;
    @media screen and (min-width: 320px) and (max-width: 425px) {
        font-size: 1rem;
    }
}
.choix_description h3 {
    padding-bottom: 50px;
    background: $orinoco_gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
}
.choix_description p {
    padding-bottom: 20px;
}
.choix_couleur {
    margin-bottom: 50px;
}
.choix_couleur label {
    margin-right: 20px;
    font-size: large;
}
.choix_ajout_panier a {
    margin-top: 30px;
    padding: 12px 24px;
    color: #fff;
    text-decoration: none;
    background-color: #8b54c7;
}
#btn_cart {
    text-align: center;
}
#cart_mess {
    padding : 10px;
    font-weight: bolder;
}